.header {
  color: #fff;
  margin-bottom: 2rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
}
