.sign-in-content {
  border: 1px solid #000;
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.error-message {
  padding-top: 15px;
  color: red;
  font-weight: 700;
}
